<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.farmerfirst.growagric">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Growagric"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.change_password.SendCodeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.change_password.ChangePasswordActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.learning.chart.LearningChartActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.EmptyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.view_records.ViewRecordActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.AddEmployeeActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.sales.AddCustomerActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.RecordKeepingDashboardActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.LabourActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.mortality_disease.DiseaseActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.other_expense.OtherExpenseActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.other_income.OtherIncomeActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.sales.SalesActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.BroodingActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.MedicinesActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.FeedsActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.input.ChickenActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.record_keeping.RecordTypeActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.learning.online_file.ViewOnlinePdfActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.learning.LearnCourseActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm.OtherFarmedItemsActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.invite.InviteActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.learning.LearnModuleActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.learning.local_file.ViewPDFActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.message.chat.MessageActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.message.chat.ChatActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm_visit.SynchronizeDataActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.hear_about_us.HearAboutUsActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm_visit.FarmVisitListAv"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm_visit.FarmVisitsActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.finance.recyclerview.FinanceRecyclerViewActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.finance.FinanceListViewActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.profile.ModifyProfileActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm.recyclerview.FarmRecyclerViewActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm.FarmListViewActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.otp.VerifyActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.finance.FinanceActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Splash"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customActivityNoActionBarTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.farm.FarmActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".firebase.FireBaseCustomMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>